:root{
  --backgroundcolorvioleta--:blueviolet;
  --backgroundcolorslategray--:slategray;
  --backgroundcolorred--:red;
  --backgroundcolorgreen--:green;
  --colorblanco--:#fff;
  --colornegro--:black;
  --colorgoldenrod--: goldenrod;
  --centro--:center;
}


.boton{
    display: flex;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding: 0 15px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.boton--color1{
    background-color: var(--backgroundcolorvioleta--);
    color: var(--colorblanco--);
}

.boton--color2{
    background-color: var(--backgroundcolorslategray--);
    color: var(--colorblanco--);
}

.boton--color3{
    background-color: var(--backgroundcolorred--);
    color: var(--colorblanco--);
}

.boton--color4{
    background-color:var(--backgroundcolorgreen--);
    color: var(--colorblanco--);
}

.lista-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 500px;
    height: 400px;
}

.lista--item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.lista--item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundcolorgreen--);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.lista--item2:hover{
    background-color: #f2f2f2;
}

.lista--item3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.lista--item3:hover .lista-item-noti{
    background-color: var(--backgroundcolorvioleta--);
}

.lista--item4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundcolorred--);
    padding: 10px;
    border-radius: 5px;
    cursor: not-allowed;
}


.lista-item-numero{
    font-weight: bold;
}

.lista-item-content {
    font-size: 14px;
}

.lista-item-noti {
    background-color: #007bff;
    color: var(--colorblanco--);
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
}

.card{
    flex-direction: column;
    display: inline-block;
    width: 340px;
    box-shadow: 2px 10px 10px var(--colornegro--);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin: 20px;
    border: 5px var(--colornegro--);
    background-position: center;
    background-size: 100px;
    background-color: var(--colorgoldenrod--);
}

.card.card--link:hover{
    background-color: var(--backgroundcolorgreen--);
}

.boton.botoncard--colorlink{
    background-color: var(--backgroundcolorgreen--);
}


.card.card--transition{
    padding: 20px;
}

.card.card--transition:hover{
    transform: scale(1.1);
}

.card.card--bloqueado:hover {
    background-color: var(--backgroundcolorred--);
}


.boton.botoncard--bloqueado{
    cursor: not-allowed;
    background-color: var(--backgroundcolorgreen--);
}


.card.card--bloqueado:hover .botoncard--bloqueado:hover{
    background-color: var(--backgroundcolorred--);
}