.grupo1 {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .grupo1 h2 {
    margin-top: 0;
  }
  
  .grupo1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .grupo1 li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .grupo1 li:last-child {
    border-bottom: none;
  }


  .grupo2 {
    background-color: green;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .grupo2:hover{
    background-color: #f0f0f0 ;
  }

  .grupo2 h2 {
    margin-top: 0;
  }
  
  .grupo2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .grupo2 li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .grupo2 li:last-child {
    border-bottom: none;
  }

  .grupo3 {
    background-color: blueviolet;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .grupo3:hover{
    transform: scale(1.1);
}

  .grupo3 h2 {
    margin-top: 0;
  }
  
  .grupo3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .grupo3 li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .grupo3 li:last-child {
    border-bottom: none;
  }


  .grupo4 {
    background-color: skyblue;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
    transition: transform 0.3s ease;
  }

  .grupo4:hover{
    transform: scale(0.8);
    background-color: red ;
}

  .grupo4 h2 {
    margin-top: 0;
  }
  
  .grupo4 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .grupo4 li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .grupo4 li:last-child {
    border-bottom: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(img/fondo.jpg);
	background-size: cover;
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: green;
	font-size: 20px;
	margin-top: 50px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: red;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;   
	background-color: blue;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: navy;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;

}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}

.sz{
    cursor: not-allowed;
    pointer-events: none;
}

